aiofiles==24.1.0
boto3==1.39.16
fastapi==0.110.0
huggingface_hub==0.33.4
imageio==2.37.0
imageio-ffmpeg==0.6.0
opencv-python==4.12.0.88
openexr==3.3.4
python-dotenv==1.0.1
python-multipart==0.0.9
uvicorn==0.27.1
